.onlineOrder {
  flex: 4;
  height: 600px;
  margin-left: 10px;
}
.container-title {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.container-title > .title {
  font-weight: bold;
  font-size: medium;
  width: fit-content;
}

.container-title > .content {
  font-size: medium;
}

/* .orderBottom {
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
} */
.MuiButton-outlined {
  width: 150px;
  font-size: small !important;
}

.deny {
  background: red !important;
}

.approve {
  background: green !important;
}

.MuiDataGrid-root {
  margin-top: 10px;
  height: 500px;
}

.onlineOrderTop {
  padding: 10px;
  margin: 10px;
}

.buttonApprove {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}

.onlineOrderTopLeft {
  margin-top: 10px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.title-address {
  font-weight: bold;
  font-size: medium;
  width: fit-content;
}

.container-address {
  display: -webkit-box;
  margin-top: 12px;
  margin-right: 5rem;
}

.content-address {
  font-size: medium;
}
