.store-inventory-list {
  flex: 4;
  /* min-height: 600px; */
  height: 600px;
  margin-left: 10px;
  /* width: 1350px; */
}

.store-inventory-list-item {
  display: flex;
  align-items: center;
}

.store-inventory-list-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.store-inventory-list-edit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.store-inventory-list-delete {
  color: red;
  cursor: pointer;
}

.search {
  width: 35%;
  margin: 10px;
}

.export-to-excel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}

.store-inventory-add-button {
  width: fit-content;
  border: none;
  padding: 10px;
  margin-top: 8px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  float: right;
}
