.delivery-header-fix-icon {
  display: flex;
}
.delivery-header-fix-icon .number-delivery {
  font-size: x-small;
  padding: top;
  border-radius: 50%;
  font-weight: 1000;
  color: red;
}

.header-navbar-profile-name {
  font-size: medium;
  margin-right: 2rem;
  font-weight: 400;
}
