.importDeliver {
  flex: 4;
  /* min-height: 600px; */
  height: 600px;
  margin-left: 10px;
  /* width: 1350px; */
}

.importDeliverItem {
  display: flex;
  align-items: center;
}

.importDeliverImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.importDeliverEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.importDeliverDelete {
  color: red;
  cursor: pointer;
}

.search {
  width: 35%;
  margin: 10px;
}

.exportToExcel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}

.staffAddButton {
  width: fit-content;
  border: none;
  padding: 10px;
  margin-top: 8px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

.importDeliverTab {
  display: flex;
  flex-direction: column;
}
