.new-import {
  flex: 4;
  padding-left: 2rem;
}

.create-inventory-note-form {
  margin-top: 10px;
}

.create-inventory-note-item {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.create-inventory-note-item > .label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.create-inventory-note-item > input {
  padding: 10px;
}

.create-inventory-note-item > select {
  padding: 10px;
}

.storeListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.create-inventory-note-button {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

input {
  margin-left: 100px;
}

.account {
  flex: 4;
  padding: 20px;
}

.account-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account-top {
  display: flex;
  flex-direction: column;
}

.account-top-feft,
.account-top-right {
  flex: 1;
}

.account-top-right,
.account-top-left {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.account-info-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.account-info-top {
  display: flex;
  align-items: center;
}

.account-name {
  font-weight: 600;
}

.account-info-bottom {
  margin-top: 10px;
}

.account-info-item {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.account-info-value {
  font-weight: 300;
}

.account-bottom {
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 30px 0px;
}

.account-top {
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.account-form {
  display: flex;
  justify-content: space-between;
}

.account-form-left {
  display: flex;
  flex-direction: column;
}

.account-form-left > label {
  margin-bottom: 10px;
  color: gray;
}

.account-form-left > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.account-form-left > select {
  margin-bottom: 10px;
}

.account-upload-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.account-form-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.account-upload {
  display: flex;
  justify-content: space-between;
}

.account-button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.upload-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: large;
  cursor: pointer;
  width: 10rem;
  height: 10rem;
  border-radius: 20px;
  border: 1px dotted black;
  color: gray;
  font-weight: 600;
}

label span {
  font-weight: lighter;
  font-size: small;
  padding-top: 0.5rem;
}

section {
  padding: 2rem 0;
}

.MuiBox-root .css-8bvdc8 {
  margin: 0;
  border-radius: 5px;
}

.top-add-product {
  padding: 15px;
  margin-top: 20px;
  align-items: center;
}

.choose-button-add-product {
  text-align: end;
}

.ui.form .fields {
  display: -webkit-box !important;
}

.field.choose-button-add-product.field > label {
  color: rgb(240 242 245) !important;
}
